<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <!-- <ion-segment color="primary">
      <div class="fill-remain-space"></div>
      <ion-segment-button>
        <ion-icon name="paper"></ion-icon>
      </ion-segment-button>
      <ion-segment-button color="primary">
        <ion-icon name="calendar"></ion-icon>
      </ion-segment-button>
      <ion-segment-button color="primary">
        <ion-icon name="bookmark"></ion-icon>
      </ion-segment-button>
      <div class="fill-remain-space"></div>
    </ion-segment> -->

    <ion-buttons slot="end">
      <ion-button (click)="openPopover()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card>
      <ion-item>
        <div class="habit-content">考虑用Badge或者自定义一个component,测试一下长度能不能更多</div>
        <div class="habit-checks" slot="end">
          <div class="habit-check" id="check1" (press)="change()">
            <ion-icon *ngIf="check" color="success" name="checkmark"></ion-icon>
            <ion-icon *ngIf="!check" color="medium" name="close"></ion-icon>
          </div>
          <div class="habit-check" id="check2" (press)="change()">
            <ion-icon *ngIf="check" color="success" name="checkmark"></ion-icon>
            <ion-icon *ngIf="!check" color="medium" name="close"></ion-icon>
          </div>
          <div class="habit-check" id="check3" (press)="change()">
            <ion-icon *ngIf="check" color="success" name="checkmark"></ion-icon>
            <ion-icon *ngIf="!check" color="medium" name="close"></ion-icon>
          </div>
        </div>
      </ion-item>
    </ion-card>

  </ion-list>


</ion-content>