<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <!-- <ion-segment color="primary">
      <div class="fill-remain-space"></div>
      <ion-segment-button>
        <ion-icon name="paper"></ion-icon>
      </ion-segment-button>
      <ion-segment-button color="primary">
        <ion-icon name="calendar"></ion-icon>
      </ion-segment-button>
      <ion-segment-button color="primary">
        <ion-icon name="bookmark"></ion-icon>
      </ion-segment-button>
      <div class="fill-remain-space"></div>
    </ion-segment> -->

    <ion-buttons slot="end">
      <ion-button (click)="openPopover()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let habit of habits">
      <ion-item>
        <div class="habit-content">{{habit.title}}</div>
        <div class="habit-checks" slot="end">
          <div class="habit-check" id="check1" (press)="change(habit, habit.records)">
            <ion-icon *ngIf="habit.records.yes == 'true'" color="success" name="checkmark"></ion-icon>
            <ion-icon *ngIf="habit.records.yes != 'true'" color="medium" name="close"></ion-icon>
          </div>
          <div class="habit-check" id="check1" (press)="change()">
            <ion-icon *ngIf="habit.records.tod == 'true'" color="success" name="checkmark"></ion-icon>
            <ion-icon *ngIf="habit.records.tod != 'true'" color="medium" name="close"></ion-icon>
          </div>
          <div class="habit-check" id="check1" (press)="change()">
            <ion-icon *ngIf="habit.records.tom == 'true'" color="success" name="checkmark"></ion-icon>
            <ion-icon *ngIf="habit.records.tom != 'true'" color="medium" name="close"></ion-icon>
          </div>
        </div>
      </ion-item>
    </ion-card>

  </ion-list>


</ion-content>