ion-segment {
    width: 70%;
    margin-left: 15%;
}

ion-item {
    margin-top: 2px;
}

ion-card {
    margin: 10px 10px 2px 4px;
    border-radius: 2px;
    width: calc(100% - 4px);
}

.habit-content {
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.habit-checks {
    display: inherit;

    .habit-check {
        margin-left: 6px;
        margin-right: 6px;
    }
}