<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-segment color="primary">
      <div class="fill-remain-space"></div>
      <ion-segment-button>
        <ion-icon name="paper"></ion-icon>
      </ion-segment-button>
      <ion-segment-button color="primary">
        <ion-icon name="calendar"></ion-icon>
      </ion-segment-button>
      <ion-segment-button color="primary">
        <ion-icon name="bookmark"></ion-icon>
      </ion-segment-button>
      <div class="fill-remain-space"></div>
    </ion-segment>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item class="item-habit">

    </ion-item>
    <ion-item>
      <ion-label>Item</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Item</ion-label>
    </ion-item>
  </ion-list>
</ion-content>